- stylesheet "posts"
- javascript "elastic"

= form_for [:admin, @post] do |f|
  = f.label :title
  = f.text_field :title
  = f.label :tag_list
  = f.text_field :tag_list
  #tag_list
    - @tags.each do |tag|
      %a.tag= tag.name
      %span>= ", " unless tag == @tags.last
        
  = f.label :intro
  = f.text_area :intro
  = f.label :body
  = f.text_area :body
  = f.label :published_on
  = f.date_select :published_on
  = f.check_box :reviewed
  = f.label :reviewed
  %br
  = f.submit "Save", :class => "button medium"
  
:javascript
  $('textarea').elastic();
  $('a.tag').click(function() {
    
    var tag_list_val = $("#post_tag_list").val();
    var tag_name     = $(this).text();
    
    if(tag_list_val.search(new RegExp(tag_name,"i")) >= 0)
      return;
      
    var separator = (tag_list_val.length == 0) ? "" : ", ";
    
    $("#post_tag_list").val(tag_list_val + separator + tag_name)
  });
