- stylesheet "posts"
- javascript "admin_posts"
= render :partial => "menu"

%h1 List posts
#post_selector
  %button#all.selector.button.gray.active Show all
  - User.writers.each do |u|
    %button.selector.button{:"data-type" => "user", :"data-id" => u.id}= "By #{u.full_name}"
    %button.selector.button.blue{:"data-type" => "status", :"data-id" => "published"} Published
    %button.selector.button.blue{:"data-type" => "status", :"data-id" => "reviewed"} Reviewed
    %button.selector.button.blue{:"data-type" => "status", :"data-id" => "unfinished"} Unfinished
    
%ul#posts
  = render @posts
  %li#loading_post
    %h2 Loading more posts...
    = image_tag "/images/loader.gif"  