%li.post{:class => "user_#{listed_post.user_id}", :"data-user_id" => listed_post.user_id}
  .info
    .date
      .day= listed_post.published_on.strftime("%d")
      .month=  listed_post.published_on.strftime("%b")
      .year=  listed_post.published_on.strftime("%Y")
    .title
      %h1= link_to listed_post.title, listed_post, :title => listed_post.title
      %span.detailed_info
        by
        %span.focus= listed_post.user.full_name
        = raw "(" + link_to("Comments", post_path(listed_post, :anchor => "disqus_thread")) + ")"
      .fadeout
  .text
    %p= strip_tags(textilize(listed_post.intro))