- stylesheet "posts"
- javascript "mousewheel", "jScrollPane"
- unless @posts.empty?
  - javascript "posts"
  
  %hr.clear

  %h1 Other posts

  #post_selector
    %button#all.selector.button.gray.active Show all
    - User.admins.each do |u|
      %button.selector.button{:"data-type" => "user", :"data-id" => u.id}= "By #{u.full_name}"
    - Tag.all.each do |t|
      %button.selector.button.blue{:"data-type" => "tag", :"data-id" => t.name}= t.name

  %ul#posts
    = render :partial => "listed_post", :collection => @posts
    %li#loading_post
      %h2 Loading more posts...
      = image_tag "/images/loader.gif"