= stylesheet "coderay"

- content_for(:menu) do
  - if current_user && current_user.admin
    %p
      = link_to "Write a new post", [:new, :admin, :post], :class => "button in_menu"
      %br
      = link_to "Edit this one", [:edit, :admin, post], :class => "button in_menu"
      %br
      = link_to "Delete this one", [:admin, post], :method => :delete, :confirm => "Are you sure?", :class => "button red in_menu"

= render :partial => "post_info", :locals => {:post => post}

~ raw textilize_and_highlight post.body

%p
  = image_tag "signature_#{post.user.id}.png", :class => "signature"
  %br
  %strong
    \- 
    = post.user.full_name
%hr

#disqus_thread

:javascript
  var disqus_identifier = #{post.id};
  var disqus_developer = 1; 

  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://blogin15.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

%noscript
  Please enable JavaScript to view the 
  = link_to "comments powered by Disqus.", "http://disqus.com/?ref_noscript=blogin15"

