= stylesheet "coderay"

= render :partial => "admin/posts/menu", :locals => {:post => post}
- content_for(:menu) do
  = list_headings(post.intro + post.body)

= render :partial => "post_info", :locals => {:post => post}

~ raw textilize_and_highlight post.intro
~ raw textilize_and_highlight post.body

%p
  = image_tag "signature_#{post.user.id}.png", :class => "signature"
  %br
  %strong
    \- 
    = post.user.full_name
%hr

#disqus_thread

:javascript
  var disqus_identifier = "#{((Rails.env.development?) ? "development-" : "production-") + post.id.to_s}";
  #{"var disqus_developer = 1;" if Rails.env.development?} 

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://xtremeblog.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

%noscript
  Please enable JavaScript to view the 
  = link_to "comments powered by Disqus.", "http://disqus.com/?ref_noscript=xtremeblog"

