!!! XML
!!!
%html
  %head
    %title 
      Blog in 15 
      = yield(:title)
    = stylesheet_link_tag "reset", "application", "buttons"
    = yield :stylesheet
    = javascript_include_tag "jquery", "rails", "application"
    = yield :javascript
    = csrf_meta_tag
  %body
    #top_container
      #top
        #login_info
          - if current_user
            You are logged in as 
            = current_user.email
            = link_to "Logout", logout_path
          - else
            = link_to "Login", login_url
    #header_container
      #header
        = image_tag "fade.png", :id => "fade"
        = link_to image_tag("logo.png", :id => "logo"), root_path
        #blog_title 
          Blog in 15 minutes
    #container
      #menu= yield :menu
      #content= yield
      #bottom= yield :bottom
    #footer_container
      #footer
    :javascript
      //<![CDATA[
      (function() {
      	var links = document.getElementsByTagName('a');
      	var query = '?';
      	for(var i = 0; i < links.length; i++) {
      	if(links[i].href.indexOf('#disqus_thread') >= 0) {
      		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      	}
      	}
      	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/blogin15/get_num_replies.js' + query + '"></' + 'script>');
      })();
      //]]>      