!!! XML
!!!
%html
  %head
    %title Blog in 15
    = stylesheet_link_tag "reset", "application", "buttons"
    = yield :stylesheet
    = javascript_include_tag "jquery", "rails", "application"
    = yield :javascript
    = csrf_meta_tag
  %body
    #top_menu
    #header_container
      #header
        = image_tag "fade.png", :id => "fade"
        = image_tag "logo.png", :id => "logo"
    #container
      #menu= yield :menu
      #content= yield
      #bottom= yield :bottom
      